body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (orientation: landscape) {
  span {
    display: none;
  }
  body {
    background-color: rgba(148, 212, 214, 0.384);
  }
}
