body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e9e9;
}
.box {
  height: 200px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.589), -10px -10px 15px white;
}
.box:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.589), -10px -10px 15px white,
    inset 10px 10px 15px rgba(0, 0, 0, 0.534),
    inset -10px -10px 15px rgba(255, 255, 255, 0.521);
  cursor: pointer;
}
